/*!* MessagesComponent's private CSS styles *!*/
/*h2 {*/
/*  color: #A80000;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-weight: lighter;*/
/*}*/

/*.clear {*/
/*  color: #333;*/
/*  background-color: #eee;*/
/*  margin-bottom: 12px;*/
/*  padding: 0.2rem;*/
/*  border-radius: 4px;*/
/*  font-size: 1rem;*/
/*}*/
/*.clear:hover {*/
/*  color: white;*/
/*  background-color: #42545C;*/
/*}*/

:host {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  z-index: 1200;
}


ngb-toast.bg-success > div.toast-header{
  background-color: green !important;
}

ngb-toast.bg-warning > div.toast-header{
  background-color: green !important;
}

ngb-toast.bg-danger > div.toast-header{
  background-color: green !important;
}
