version: "3.8"

services:
  fspiop-api-svc:
    image: mojaloop/interop-apis-bc-fspiop-api-svc:0.1.17
    depends_on:
      settlements-api-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
      account-lookup-svc:
        condition: service_healthy
      quoting-svc:
        condition: service_healthy
      transfers-api-svc:
        condition: service_healthy
    volumes:
      - fspiop-api-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    ports:
      - 4000:4000

  accounts_and_balances_builtin-ledger-grpc-svc:
    image: mojaloop/accounts-and-balances-bc-builtin-ledger-grpc-svc:0.2.5
    volumes:
      - aandb_builtin-ledger-grpc-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - TIGERBEETLE_CLUSTER_ID=${TIGERBEETLE_CLUSTER_ID}
      - TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES=${TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    healthcheck:
      test: nc -z localhost 3350 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3350:3350
    restart: unless-stopped

  accounts_and_balances_coa-grpc-svc:
    image: mojaloop/accounts-and-balances-bc-coa-grpc-svc:0.2.3
    depends_on:
      accounts_and_balances_builtin-ledger-grpc-svc:
        condition: service_healthy
    volumes:
      - aandb_coa-grpc-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - TIGERBEETLE_CLUSTER_ID=${TIGERBEETLE_CLUSTER_ID}
      - TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES=${TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES}
      - BUILTIN_LEDGER_SVC_URL=${BUILTIN_LEDGER_SVC_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    healthcheck:
      test: nc -z localhost 3300 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3300:3300
    restart: unless-stopped

# participants

  participants-svc:
    image: mojaloop/participants-bc-participants-svc:0.1.14
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
    volumes:
      - participants-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - TIGERBEETLE_CLUSTER_ID=${TIGERBEETLE_CLUSTER_ID}
      - TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES=${TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES}
      - ACCOUNTS_BALANCES_COA_SVC_URL=${ACCOUNTS_BALANCES_COA_SVC_URL}
    healthcheck:
      test: nc -z localhost 3010 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3010:3010
    restart: unless-stopped

#account lookup

  account-lookup-http-oracle-svc:
    image: mojaloop/account-lookup-bc-http-oracle-svc:0.1.1
    depends_on:
      participants-svc:
        condition: service_healthy
    volumes:
      - account-lookup-http-oracle-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
    healthcheck:
      test: nc -z localhost 3031 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3031:3031
    restart: unless-stopped

  account-lookup-svc:
    image: mojaloop/account-lookup-bc-account-lookup-svc:0.1.10
    depends_on:
      account-lookup-http-oracle-svc:
        condition: service_healthy
    volumes:
      - account-lookup-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    healthcheck:
      test: nc -z localhost 3030 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3030:3030
    restart: unless-stopped

# quoting

  quoting-svc:
    image: mojaloop/quoting-bc-quoting-svc:0.1.11
    depends_on:
      participants-svc:
        condition: service_healthy
    volumes:
      - quoting-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    healthcheck:
      test: nc -z localhost 3033 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3033:3033
    restart: unless-stopped

# transfers

  transfers-api-svc:
    image: mojaloop/transfers-bc-transfers-api-svc:0.2.2
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - transfers-api-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    healthcheck:
      test: nc -z localhost 3500 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3500:3500
    restart: unless-stopped

  transfers-event-handler-svc:
    image: mojaloop/transfers-bc-event-handler-svc:0.2.1
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - transfers-event-handler-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    restart: unless-stopped

  transfers-command-handler-svc:
    image: mojaloop/transfers-bc-command-handler-svc:0.2.1
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - transfers-command-handler-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
      - ACCOUNTS_BALANCES_COA_SVC_URL=${ACCOUNTS_BALANCES_COA_SVC_URL}
    restart: unless-stopped

# settlements

  settlements-api-svc:
    image: mojaloop/settlements-bc-settlements-api-svc:0.1.4
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - settlements-api-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
      - ACCOUNTS_BALANCES_COA_SVC_URL=${ACCOUNTS_BALANCES_COA_SVC_URL}
    healthcheck:
      test: nc -z localhost 3600 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3600:3600
    restart: unless-stopped

  settlements-event-handler-svc:
    image: mojaloop/settlements-bc-event-handler-svc:0.1.3
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - settlements-event-handler-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
    restart: unless-stopped

  settlements-command-handler-svc:
    image: mojaloop/settlements-bc-command-handler-svc:0.1.4
    depends_on:
      accounts_and_balances_coa-grpc-svc:
        condition: service_healthy
      participants-svc:
        condition: service_healthy
    volumes:
      - settlements-command-handler-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - PARTICIPANTS_SVC_URL=${PARTICIPANTS_SVC_URL}
      - ACCOUNTS_BALANCES_COA_SVC_URL=${ACCOUNTS_BALANCES_COA_SVC_URL}
    restart: unless-stopped


  admin-ui:
    image: mojaloop/vnext-admin-ui-svc:0.1.13
    depends_on:
      transfers-api-svc:
        condition: service_healthy
      settlements-api-svc:
        condition: service_healthy
    ports:
      - 4200:4200


  # blue bank TTK
  ttk_1:
    image: mojaloop/ml-testing-toolkit:v15.0.0
    volumes:
#      - ttk1_data:/app/data
      - ttk1_data:/opt/app
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    ports:
      - "4040:4040"
      - "5050:5050"
    command:
      - sh
      - -c
      - "npm start"
  ttk-ui_1:
    image: mojaloop/ml-testing-toolkit-ui:v15.0.0
    ports:
      - "6060:6060"
    volumes:
      - ttk1_ui_data:/usr/share/nginx/html
    environment:
      - API_BASE_URL=http://localhost:5050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh

  # green bank TTK
  ttk_2:
    image: mojaloop/ml-testing-toolkit:v15.0.0
    volumes:
#      - ttk2_data:/app/data
      - ttk2_data:/opt/app
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    ports:
      - "4041:4040"
      - "5051:5050"
    command:
      - sh
      - -c
      - "npm start"
  ttk-ui_2:
    image: mojaloop/ml-testing-toolkit-ui:v15.0.0
    ports:
      - "6061:6060"
    volumes:
      - ttk2_ui_data:/usr/share/nginx/html
    environment:
      - API_BASE_URL=http://localhost:5051
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh

volumes:
  participants-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/participants-svc
  account-lookup-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/account-lookup-svc
  account-lookup-http-oracle-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/account-lookup-http-oracle-svc
  quoting-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/quoting-svc
  fspiop-api-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/fspiop-api-svc
  aandb_builtin-ledger-grpc-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/aandb_builtin-ledger-grpc-svc
  aandb_coa-grpc-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/aandb_coa-grpc-svc
  transfers-api-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/transfers-api-svc
  transfers-event-handler-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/transfers-event-handler-svc
  transfers-command-handler-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/transfers-command-handler-svc
  settlements-api-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/settlements-api-svc
  settlements-event-handler-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/settlements-event-handler-svc
  settlements-command-handler-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/settlements-command-handler-svc
  ttk1_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/ttk1_data
  ttk2_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/ttk2_data
  ttk1_ui_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/ttk1_ui_data
  ttk2_ui_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/ttk2_ui_data
