apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  creationTimestamp: null
  labels:
    mojaloop.service: logging-svc
    mojaloop.layer: crosscut
  name: logging-svc
spec:
  replicas: 1
  selector:
    matchLabels:
      mojaloop.service: logging-svc
      mojaloop.layer: crosscut
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
      creationTimestamp: null
      labels:
        mojaloop.service: logging-svc
        mojaloop.layer: crosscut
    spec:
      containers:
      - env:
        - name: ELASTICSEARCH_AUDITS_INDEX
          value: ml-auditing
        - name: ELASTICSEARCH_PASSWORD
          value: elasticSearchPas42
        - name: ELASTICSEARCH_URL
          value: https://192.168.1.94:9200
        - name: ELASTICSEARCH_USERNAME
          value: elastic
        - name: KAFKA_LOGS_TOPIC
          value: logs
        - name: KAFKA_URL
          value: 192.168.1.94:29092
        image: mojaloop/logging-bc-logging-svc:0.5.2
        name: logging-svc
        resources: {}
      restartPolicy: Always
status: {}
