apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    mojaloop.service: platform-configuration-svc-data
    mojaloop.layer: crosscut
  name: platform-configuration-svc-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi

