apiVersion: v1
kind: Service
metadata:
  labels:
    mojaloop.service: scheduling-api-svc
    mojaloop.layer: crosscut
  name: scheduling-api-svc
spec:
  ports:
    - name: "3150"
      port: 3150
      targetPort: 3150
  selector:
    mojaloop.service: scheduling-api-svc

