apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  creationTimestamp: null
  labels:
    mojaloop.service: accounts-and-balances-builtin-ledger-grpc-svc
    mojaloop.layer: apps
  name: accounts-and-balances-builtin-ledger-grpc-svc
spec:
  replicas: 1
  selector:
    matchLabels:
      mojaloop.service: accounts-and-balances-builtin-ledger-grpc-svc
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
      creationTimestamp: null
      labels:
        mojaloop.service: accounts-and-balances-builtin-ledger-grpc-svc
        mojaloop.layer: apps
    spec:
      containers:
        - env:
            - name: AUTH_N_SVC_BASEURL
              value: http://authentication-svc:3201
            - name: AUTH_N_TOKEN_AUDIENCE
              value: mojaloop.vnext.dev.default_audience
            - name: AUTH_N_TOKEN_ISSUER_NAME
              value: mojaloop.vnext.dev.default_issuer
            - name: AUTH_Z_SVC_BASEURL
              value: http://authorization-svc:3202
            - name: KAFKA_AUDITS_TOPIC
              value: audits
            - name: KAFKA_LOGS_TOPIC
              value: logs
            - name: KAFKA_URL
              value: kafka:9092
            - name: MONGO_URL
              value: mongodb://root:mongoDbPas42@mongodb:27017/
            - name: PLATFORM_CONFIG_BASE_SVC_URL
              value: http://platform-configuration-svc:3100
            - name: TIGERBEETLE_CLUSTER_ID
              value: "0"
            - name: TIGERBEETLE_CLUSTER_REPLICA_ADDRESSES
              value: tigerbeetle:3000
          image: mojaloop/accounts-and-balances-bc-builtin-ledger-grpc-svc:0.2.2
          livenessProbe:
            exec:
              command:
                - nc -z localhost 3350 || exit -1
            failureThreshold: 10
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 10
          name: accounts-and-balances-builtin-ledger-grpc-svc
          ports:
            - containerPort: 3350
          resources: {}
          volumeMounts:
            - mountPath: /app/data
              name: aandb-builtin-ledger-grpc-svc-data
      restartPolicy: Always
      volumes:
        - name: aandb-builtin-ledger-grpc-svc-data
          persistentVolumeClaim:
            claimName: aandb-builtin-ledger-grpc-svc-data
status: {}
