apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    mojaloop.service: transfers-api-svc
  name: transfers-api-svc
spec:
  ports:
    - name: "3500"
      port: 3500
      targetPort: 3500
  selector:
    mojaloop.service: transfers-api-svc
status:
  loadBalancer: {}
