apiVersion: v1
kind: Service
metadata:
  labels:
    mojaloop.service: accounts-and-balances-coa-grpc-svc
    mojaloop.layer: apps
  name: accounts-and-balances-coa-grpc-svc
spec:
  ports:
    - name: "3300"
      port: 3300
      targetPort: 3300
  selector:
    mojaloop.service: accounts-and-balances-coa-grpc-svc
