/* You can add global styles to this file, and also import other style files */
/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}
body{
	background-color: #e9ecef;
}

body, input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
a {
  cursor: pointer;
}
p {
	margin-bottom: 0;
}
pre {
  background-color: whitesmoke;
  padding: 15px;
}

hr {
  margin: 1.5rem 0;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.modal-header{
  background-color: #007bff;
  color: #fff;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.filterbox{
	background-color:#f6f6f6;
	padding:10px 15px;
	margin-bottom:10px;
	border-radius: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color: whitesmoke;
}
.tab-content{
	background-color: whitesmoke;
	padding: 10px 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: whitesmoke;
	border-color: #dee2e6 #dee2e6 whitesmoke;
}


.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px 0 0 5px;
	border-right: solid 1px rgba(0, 0, 0, 0.15);
}
.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}
