/* You can add global styles to this file, and also import other style files */
/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body, input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
a {
  cursor: pointer;
}
pre {
  background-color: whitesmoke;
  padding: 15px;
}

hr {
  margin: 1.5rem 0;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.modal-header{
  background-color: #007bff;
  color: #fff;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.filterbox{
	background-color:#e9ecef;
	padding:5px 10px;
	margin-bottom:10px;
}
