version: "3.8"

services:
  auditing-svc:
    image: mojaloop/auditing-bc-auditing-svc:0.5.1
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - ELASTICSEARCH_AUDITS_INDEX=${ELASTICSEARCH_AUDITS_INDEX}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
    ports:
      - 3050:3050
    restart: unless-stopped

  logging-svc:
    image: mojaloop/logging-bc-logging-svc:0.5.2
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - ELASTICSEARCH_AUDITS_INDEX=${ELASTICSEARCH_AUDITS_INDEX}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
    restart: unless-stopped

  authentication-svc:
    image: mojaloop/security-bc-authentication-svc:0.5.2
#    volumes:
#      - authentication-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - AUTH_N_TOKEN_LIFE_SECS=${AUTH_N_TOKEN_LIFE_SECS}
      - AUTH_N_DEFAULT_AUDIENCE=${AUTH_N_DEFAULT_AUDIENCE}
      - AUTH_N_ISSUER_NAME=${AUTH_N_ISSUER_NAME} # change ENV VAR names to match others in apps
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - BUILTIN_IAM_BASE_URL=${BUILTIN_IAM_BASE_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    ports:
      - 3201:3201
    healthcheck:
      test: nc -z localhost 3201 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  authorization-svc:
    image: mojaloop/security-bc-authorization-svc:0.5.2
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - MONGO_URL=${MONGO_URL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - AUTH_N_TOKEN_LIFE_SECS=${AUTH_N_TOKEN_LIFE_SECS}
    ports:
      - 3202:3202
    depends_on:
      authentication-svc:
        condition: service_healthy
    healthcheck:
      test: nc -z localhost 3202 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  identity-svc:
    image: mojaloop/security-bc-builtin-identity-svc:0.5.5
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - AUTH_N_TOKEN_LIFE_SECS=${AUTH_N_TOKEN_LIFE_SECS}
    ports:
      - 3203:3203
    depends_on:
      authentication-svc:
        condition: service_healthy
      authorization-svc:
        condition: service_healthy
    healthcheck:
      test: nc -z localhost 3203 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  platform-configuration-svc:
    image: mojaloop/platform-configuration-bc-configuration-svc:0.5.2
    depends_on:
      authentication-svc:
        condition: service_healthy
      authorization-svc:
        condition: service_healthy
    volumes:
      - platform-configuration-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
    healthcheck:
      test: nc -z localhost 3100 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3100:3100
    restart: unless-stopped

  # scheduling
  scheduling-api-svc:
    image: mojaloop/scheduling-bc-scheduling-api-svc:0.5.1
    depends_on:
      authentication-svc:
        condition: service_healthy
      authorization-svc:
        condition: service_healthy
      platform-configuration-svc:
        condition: service_healthy
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - SCHEDULING_HOST_LOCKS=${REDIS_HOST}
    healthcheck:
      test: nc -z localhost 3150 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3150:3150
    restart: unless-stopped

  scheduling-command-handler-svc:
    image: mojaloop/scheduling-bc-command-handler-svc:0.5.1
    depends_on:
      authentication-svc:
        condition: service_healthy
      authorization-svc:
        condition: service_healthy
      platform-configuration-svc:
        condition: service_healthy
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}
      - SCHEDULING_HOST_LOCKS=${REDIS_HOST}
    restart: unless-stopped

  mcm-internal-svc:
    image: mojaloop/cert-management-bc-mcm-internal-svc:0.0.3
    ports:
      - 3200:3200
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}

  mcm-external-svc:
    image: mojaloop/cert-management-bc-mcm-external-svc:0.0.3
    ports:
      - 3220:3220
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - MONGO_URL=${MONGO_URL}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
      - AUTH_N_TOKEN_ISSUER_NAME=${AUTH_N_TOKEN_ISSUER_NAME}
      - AUTH_N_TOKEN_AUDIENCE=${AUTH_N_TOKEN_AUDIENCE}


volumes:
  platform-configuration-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/platform-configuration-svc
