version: "3.8"

services:
  authentication-svc:
    image: mojaloop/security-bc-authentication-svc:0.1.18
    volumes:
      - authentication-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - AUTH_N_TOKEN_LIFE_SECS=${AUTH_N_TOKEN_LIFE_SECS}
      - AUTH_N_DEFAULT_AUDIENCE=${AUTH_N_DEFAULT_AUDIENCE}
      - AUTH_N_ISSUER_NAME=${AUTH_N_ISSUER_NAME}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
    ports:
      - 3201:3201
    healthcheck:
      test: nc -z localhost 3201 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  authorization-svc:
    image: mojaloop/security-bc-authorization-svc:0.1.20
    volumes:
      - authorization-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - PLATFORM_CONFIG_BASE_SVC_URL=${PLATFORM_CONFIG_BASE_SVC_URL}
    ports:
      - 3202:3202
    healthcheck:
      test: nc -z localhost 3202 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    restart: unless-stopped

  auditing-svc:
    image: mojaloop/auditing-bc-auditing-svc:0.1.6
    volumes:
      - auditing-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - ELASTICSEARCH_AUDITS_INDEX=${ELASTICSEARCH_AUDITS_INDEX}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
    ports:
      - 3050:3050
    restart: unless-stopped

  logging-svc:
    image: mojaloop/logging-bc-logging-svc:0.1.9
    volumes:
      - logging-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - ELASTICSEARCH_AUDITS_INDEX=${ELASTICSEARCH_AUDITS_INDEX}
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
    restart: unless-stopped

  platform-configuration-svc:
    image: mojaloop/platform-configuration-bc-configuration-svc:0.3.3
    depends_on:
      authentication-svc:
        condition: service_healthy
      authorization-svc:
        condition: service_healthy
    volumes:
      - platform-configuration-svc_data:/app/data
    environment:
      - KAFKA_URL=${KAFKA_URL}
      - KAFKA_LOGS_TOPIC=${KAFKA_LOGS_TOPIC}
      - KAFKA_AUDITS_TOPIC=${KAFKA_AUDITS_TOPIC}
      - AUTH_Z_SVC_BASEURL=${AUTH_Z_SVC_BASEURL}
      - AUTH_N_SVC_BASEURL=${AUTH_N_SVC_BASEURL}
    healthcheck:
      test: nc -z localhost 3100 || exit -1
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 3100:3100
    restart: unless-stopped

volumes:
  authentication-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/authentication-svc
  authorization-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/authorization-svc
  platform-configuration-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/platform-configuration-svc
  auditing-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/auditing-svc
  logging-svc_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ROOT_VOLUME_DEVICE_PATH}/data/logging-svc
